*.bak
*.orig
*.*~
*ui*.h
*CMakeFiles*
*CMakeCache*
*.cmake
*.pro.user
*.qmake.stash
*.project
*.cproject
*.settings
*.metadata
*.a
*.o
*.exe
Makefile
*moc*
qrc_images.cpp
AppLearning/main/AppLearning
AppRace/main/AppRace
DemoMisc/test/AppTestDemoMisc
Draw/test/AppTestDraw
Genetic/test/AppTestGenetic
Misc/test/AppTestMisc
Neural/test/AppTestNeural

